<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Flask_Web</title>
</head>
{% include "includes/_navbar.html" %}
<body>
    {% block body %} <!-- 바디태그에 (다른html파일 넣을) 블럭 시작 표시 -->
    {% endblock %} <!-- 블록 끝을 표시 -->
</body>
</html>